<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Taskly</title>

    <%- include ./base/styles.ejs %>
    <link rel="stylesheet" href="styles/home.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <h1>Taskly</h1>
      </header>
      <div class="tasks-content row">
        <div class="tasks-container-wrapper col-md">
          <div class="tasks-container auth-menu">
            <h2>Login</h2>
            <div class="task-list-container">
                <form name="login-form" method="POST" action="tarefas/">
                    <label for="usuario">Usuário</label>
                    <input id="usuario" type="text" name="usuario"/>
                </form>
              <input type="text">
            </div>
            <div class="task-list-footer auth-button">
              <button class="button" id="btn-nova-tarefa">Entrar</button>
            </div>
            <div class="form-container" id="form">
              <form name="tarefa-form" method="POST" action="tarefas/">
                <label for="tarefa-descricao">Descrição da tarefa</label>
                <input id="tarefa-id" type="hidden" name="id"/>
                <input id="tarefa-descricao" type="text" maxlength="100" name="descricao" placeholder="Tarefa legal" required="required"/>
                <input class="button" type="submit" value="Enviar"/>
                <input class="button" id="btn-cancelar" type="button" value="Cancelar"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ./base/scripts.ejs %>
    <script src="scripts/home.js"></script>
  </body>
</html>